* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  color: white;
}

/* kontener */
.container {
  width: 90%;
  max-width: 400px;
  text-align: center;
}

/* licznik */
h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

/* przycisk */
button {
  width: 100%;
  font-size: 22px;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background: #00c3ff;
  color: white;
  transition: 0.2s;
}

button:active {
  transform: scale(0.95);
}

/* 📱 TELEFON */
@media (max-width: 600px) {
  h1 {
    font-size: 45px;
  }

  button {
    font-size: 18px;
    padding: 12px;
  }
}

/* 💻 DUŻY EKRAN */
@media (min-width: 900px) {
  h1 {
    font-size: 80px;
  }

  button {
    font-size: 26px;
  }
}


body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5; /* jasne tło */
  color: black; /* czarny tekst */
}



body {
  background: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: white;
  }
}